// Breakpoints
// -----------------------------------------------------------
// For the sake of layout responsivability.

// These breakpoints is based on antd's breeakpoint's
// value. You can check it more on
// https://ant.design/components/layout#breakpoint-width

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
