.clickable {
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari, and Chrome */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.transition-background-color {
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}
